@use "vars" as *;
@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@400;900&family=Bebas+Neue&family=Open+Sans:wght@400;700&family=Rubik:ital,wght@1,900&display=swap");
// rubrik
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,500;1,500&family=Rubik:ital,wght@0,300;0,400;0,500;0,900;1,300;1,400;1,500;1,900&display=swap");
@import url("https://use.typekit.net/ywm3icz.css");

h2 {
  font-family: "poppins", sans-serif;
  // font-weight: 500;
}

h3 {
  font-family: "poppins", sans-serif;
  font-weight: 500;
  color: $creme;
}
